<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="admi.payment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MeterialButtons">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreditCard" />
        <activity android:name=".DebitCard" />
        <activity android:name=".NetBanking" />
        <activity android:name=".Wallet" />
        <!--<activity android:name=".ServerData" />-->
        <activity android:name=".GitHub"></activity>
    </application>

</manifest>